body{
    background:#0f172a;
    color:white;
}

.gallery-title{
    color:#ffc107;
    font-size:3rem;
    font-weight:bold;
    margin-bottom:50px;
}

.category-card{
    background:#1e293b;
    padding:40px 20px;
    text-align:center;
    border-radius:15px;
    transition:0.4s;
    height:100%;
}

.category-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 30px rgba(255,193,7,0.25);
}

.category-icon{
    font-size:70px;
    color:#ffc107;
    margin-bottom:20px;
}

.category-card h3{
    color:white;
    margin-bottom:20px;
}

.category-icon{
    font-size:80px;
    color:#ffc107;
    margin-top:30px;
}

.category-card{
    background:#1e293b;
    border-radius:20px;
    text-align:center;
    padding:40px 20px;
    transition:0.4s;
    height:100%;
}

.category-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 30px rgba(255,193,7,0.3);
}

.category-card h3{
    color:#fff;
    margin:25px 0;
}

/* .gallery-img{
    width: 100%;
    height: 300px;        
    object-fit: contain;  
    background: #1e293b;  
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
} */

.image-card{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform .3s;
}

.image-card:hover .gallery-img{
    transform: scale(1.05);
}

/* Lightbox */

.lightbox{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.95);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.lightbox img{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
}

.close-btn{
    position:absolute;
    top:20px;
    right:30px;
    font-size:50px;
    color:white;
    cursor:pointer;
}

.back-btn{
    background: transparent;
    color: #ffc107;
    border: 2px solid #ffc107;
    border-radius: 10px;
    padding: 8px 20px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    font-weight: 600;
    transition: 0.3s;
}

.back-btn:hover{
    background: #ffc107;
    color: #0f172a;
}

/* Fixed Button */

.fixed-back-btn{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

.fixed-back-btn .btn{
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 600;
    
}