*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background:#0f172a;
    color:#fff;
}

/* Navbar */
.custom-nav{
    background:rgba(0,0,0,0.7);
    backdrop-filter:blur(10px);
    transition:0.3s;
}

.navbar-nav .nav-link{
    color:#fff !important;
    margin-left:15px;
    font-weight:500;
}

.navbar-nav .nav-link:hover{
    color:#ffc107 !important;
}

.navbar-brand{
    font-size:1.5rem;
}

/* Hero Section */
.hero{
    height:100vh;
    background:url("https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?w=1600")
    center/cover no-repeat;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.65);
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:800px;
    padding:20px;
}

.hero-content h1{
    font-size:4rem;
    font-weight:bold;
    color:#ffc107;
}

.hero-content p{
    font-size:1.2rem;
    margin:20px 0;
    color:#ddd;
}

/* Section */
.section-title{
    color:#ffc107;
    font-size:2.5rem;
    margin-bottom:25px;
    font-weight:bold;
}

/* About */
#about{
    background:#111827;
}

.counter{
    color:#ffc107;
    font-weight:bold;
}

/* Services */
#services{
    background:#0f172a;
}

.service-card{
    background:#1e293b;
    padding:40px 20px;
    text-align:center;
    border-radius:15px;
    transition:0.4s;
    cursor:pointer;
    
}

.service-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 30px rgba(255,193,7,0.25);
}

.service-card i{
    font-size:3rem;
    color:#ffc107;
    margin-bottom:20px;
}

.service-card h4{
    color:white;
}


/* Services Scroll */

.services-scroll{
    display:flex;
    gap:20px;
    overflow-x:auto;
    overflow-y:hidden;
    padding:10px;
    scroll-behavior:smooth;
}


.services-scroll::-webkit-scrollbar{
    height:8px;
}

.services-scroll::-webkit-scrollbar-thumb{
    background:#ffc107;
    border-radius:10px;
}

.services-scroll .service-card{
    min-width:31%;
    flex-shrink:0;
}

/* Gallery */
#gallery{
    background:#111827;
}

.gallery-img{
    width:100%;
    height:280px;
    object-fit:cover;
    border-radius:15px;
    transition:0.4s;
}

.gallery-img:hover{
    transform:scale(1.05);
}

.lightbox{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.95);
    z-index:9999;
    justify-content:center;
    align-items:center;
}

.lightbox img{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
}

.close-btn{
    position:absolute;
    top:20px;
    right:35px;
    color:white;
    font-size:45px;
    cursor:pointer;
}
/* .gallery-scroll{
    display:flex;
    gap:20px;
    overflow-x:auto;
    padding:10px;
    scroll-behavior:smooth;
} */


.gallery-scroll{
    display:flex;
    gap:20px;
    overflow-x:auto;
    overflow-y:hidden;
    padding:10px;
    scroll-behavior:smooth;
    white-space:nowrap;
}
.gallery-scroll::-webkit-scrollbar{
    height:8px;
}

.gallery-scroll::-webkit-scrollbar-thumb{
    background:#ffc107;
    border-radius:10px;
}

.gallery-scroll .gallery-img{
    min-width:350px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    cursor:pointer;
    transition:0.4s;
}

.gallery-scroll .gallery-img:hover{
    transform:scale(1.05);
}

.fixed-home-btn{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.fixed-home-btn .btn{
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.footer-section{
    background:#000;
    color:#fff;
    padding:60px 0 20px;
}

.footer-section h4{
    margin-bottom:20px;
}

.footer-section p{
    color:#ccc;
    margin-bottom:10px;
}

.footer-section hr{
    border-color:#333;
    margin:30px 0;
}

.category-card{
    background:#1e293b;
    border-radius:20px;
    overflow:hidden;
    text-align:center;
    padding-bottom:20px;
    transition:0.4s;
    height:100%;
}

.category-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 30px rgba(255,193,7,0.3);
}

.category-img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.category-card h3{
    color:#ffc107;
    margin:20px 0;
}

#about p{
    color:#d1d5db;
    font-size:18px;
    max-width:800px;
    margin:auto;
    line-height:1.8;
}

/* Footer */
footer{
    background:#000;
    text-align:center;
    padding:20px;
    color:#aaa;
}

/* Responsive */
@media(max-width:768px){

    .hero-content h1{
        font-size:2.5rem;
    }

    .hero-content p{
        font-size:1rem;
    }

    .section-title{
        font-size:2rem;
    }
}

@media(max-width:768px){

    .gallery-scroll .gallery-img{
        min-width:280px;
        height:220px;
    }

    .footer-section{
        text-align:center;
    }

    .footer-section .btn{
        width:100%;
        margin-top:10px;
    }
    .services-scroll .service-card{
        min-width:280px;
    }
}
